* {
    margin: 0;
    padding: 0;
  }

.page{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.filter{
    z-index: 0;
    background: radial-gradient(transparent, black), rgba(0, 0, 0, 0.116);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.box{
    height: 400px;
    width: 400px;
    background-color: black;
    box-shadow: 80px 20px 20px 40px rgba(0, 255, 255, 0.377);
    border: 3px solid rgba(255, 255, 255, 0.87);
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    font-size: 4em;
    align-items: center;
    z-index: 1;
}
